[user]
	name = Aditya Naithani
	email = 58584207+adityanaithani@users.noreply.github.com
[core]
	compression = 9
	whitespace = error
	preloadindex = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[color]
	ui = auto
